.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 2px 2px;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s cubic-bezier(0.4, 0, 1, 1);
    .KC {
        flex: 90%;
        font-weight: 600;
    }
}
.layoutBtn {
    flex: 1%;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    font-size: x-large;
    margin: 0 5px;
    .dp {
        position: relative;
        height: 30px;
        width: 30px;
        background-color: rgb(236, 236, 236);
        border-radius: 50%;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 2px;
            left: 9px;
            height: 12px;
            width: 12px;
            background-color: grey;
            clip-path: circle(50% at 50% 50%);
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 3px;
            left: 6px;
            height: 15px;
            width: 18px;
            background-color: grey;
            clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        }
    }
}
